
<%for(var i = 0;i<users.length;i++){%>
<tr>
    <td><%=i+1%></td>
    <td><%=users[i].name%></td>
    <td><%=users[i].email%></td>
    <td><%=users[i].gender%></td>
    <td><%=users[i].status%></td>
    <td>
        <a href="/update-user?id=<%=users[i]._id%>" class="fa-solid fa-pen-to-square">
            <span></span>
        </a>
   
        <a href="#" class="fa-solid fa-x delete" data-id= "<%=users[i]._id%>">
            <span></span>
        </a>
    </td>
</tr>
<%}%>