<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/_head');%>
</head>

<body>
    <!-- header -->
    <%-include('partials/_header');%>
        <!-- header end -->

        <!-- main section -->
        <div id="main_site">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/"><span> <i class="fa-solid fa-angles-left"></i> All User</i></span></a>
                </div>
            </div>

            <div class="form_title text-center bold-text ">
                <span>Update the user info</span>
            </div>
            <!-- update user form -->
            <form method="POST" class="add_user_form" id="update_user" >
                <div class="new_user">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="hidden" name="id" id="" value="<%=user._id%>"> 
                        <input type="text" name="name" id="" value="<%=user.name%>" placeholder="your name">  
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="hidden" name="" id="" value=""> 
                        <input type="email" name="email" id="" value="<%=user.email%>" placeholder="youremail@gmail.com">  
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender </label>
                        <div class="radio inline ">
                            <input type="radio"  name="gender"   class="gender" value="male" <%=user.gender=='Male'?'checked':''%>>  
                            <label for="">Male</label>        
                        </div>
                        <div class="radio inline">
                            <input type="radio"  name="gender"   value="female" class="gender"  <%=user.gender=='Female'?'checked':''%>>  
                            <label for="">Female</label>
                        </div>
                      
                    </div>
                    <div class="form-group">
                        <label for="status">Status </label>
                        <div class="radio inline ">
                            <input type="radio" name="status" id=""  value="Active"  <%=user.status=='Active'?'checked':''%>>  
                            <label for="">Active</label>
                        </div>
                        <div class="radio inline ">
                            <input type="radio" name="status" id="" value="Inactive"  <%=user.status=='Inactive'?'checked':''%>>  
                            <label for="">Inactive</label>
                        </div>
                    </div>
                    <div class="form-group">
                      <button type="submit">Update User</button>
                    </div>
                </div>
            </form>
            <!-- update user form  end-->
        </div>

        <!-- main section end -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/index.js"></script>

</html>